@font-face {
    font-family: 'montserrat';
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
    font-size: 1em;
}

@font-face {
    font-family: 'montserrat-light';
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    font-size: 1em;
}

@font-face {
    font-family: 'fredoka';
    src: url("../fonts/fredokaone/FredokaOne-Regular.ttf");
    font-size: 1em;
}

@font-face {
    font-family: 'quicksand';
    src: url("../fonts/quicksand/Quicksand_Book.otf");
    font-size: 1em;
}

@font-face {
    font-family: 'helvetica';
    src: url("../fonts/helvetica/helvetica.otf");
    font-size: 1em;
}


/* #header-azul {
    height: 40px;
    background-color: #74B9FF;
    margin-bottom: 20px;
    padding-top: 10px;
}

#header-azul a {
    font-family: 'quicksand';
    color: #fff;
    text-decoration: none;
}

#header-azul span {
    margin-bottom: 5px;
}

#header-azul a:hover {
    color: #0984E3;
}

#header-azul i {
    font-size: 25px;
}

#header-azul ul li {
    margin-left: 10px;
}

#header-azul button {
    height: 26px;
    padding: 2px;
    outline: none;
}

header ul li {
    display: inline-block;
    margin-left: 10px;
}

header nav {
    position: absolute;
    top: 50px;
}

header nav ul li a {
    font-family: 'fredoka';
    color: #0984E3;
    font-size: 16px;
    outline: none;
}

header nav ul li a:hover {
    text-decoration: none;
}

header nav ul li input {
    width: 121px;
    border: #74B9FF solid 2px;
    border-radius: 8px;
    position: relative;
    top: 9px;
}

header nav ul li input::-webkit-input-placeholder {
    color: #74B9FF;
    font-family: 'quicksand';
}

header nav ul li input:focus {
    outline: none;
    filter: drop-shadow(0px 0px 3px #0984E3);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header nav ul li button i {
    font-size: 18px;
    color: #74B9FF;
    outline: none;
    position: absolute;
    right: 18px;
}

header nav ul li button {
    background: none;
    border: none;
}

header nav ul li button:focus {
    outline: none;
}

#menu {
    background-color: #fff;
    height: 130px;
} */

#banner img {
    width: 100%;
    position: absolute;
    top: 65px;
    filter: brightness(0.8);
    z-index: -1;
}

.fundo-cad {
    background-color: #0984E3;
    border-radius: 20px;
    border: none;
    width: 50%;
    height: inherit;
    position: relative;
    top: 375px;
    left: 300px;
}

.fundo-cad h2 {
    text-align: center!important;
    color: white;
    text-transform: uppercase;
    font-family: 'montserrat-light';
    margin-left: 20%;
}

.fundo-cad label {
    color: #fff;
    font-family: 'quicksand';
}

.fundo-cad button {
    position: relative;
    margin-top: 5%;
    outline: none;
    background-color: #74B9FF;
}

#estado {
    width: 50%;
    height: 34px;
}

#estado,
#quero-adotar {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.backfant {
    width: 100%;
    height: 430px;
}

.backfant,
#grid-dogs {
    background-color: #f8f9fd;
}

body h2 {
    color: #0984E3;
}

#paragrafo-razoes h2 {
    font-size: 5rem;
}

#paragrafo-razoes p {
    padding: 0px 23%;
    color: #555;
}

.grid-animais,
#dicas {
    padding: 2%;
}

.grid-animais h2 {
    margin-left: 4%;
}

.grid-animais img {
    width: 150px;
    height: 150px;
}

ul {
    list-style-type: none;
}

.grid-animais img {
    border: 1px solid #ccc;
    border-radius: 10%;
}

.grid-animais h3,
.grid-animais p {
    color: #555;
}

.grid-animais h3 {
    font-size: 1.5rem;
}

.grid-animais h3,
#dicas h3 {
    margin-top: 8px;
    margin-bottom: 0;
}

.grid-animais button {
    left: 45%;
    position: relative;
}

#dicas {
    background-color: #74B9FF;
    color: #fff;
}

#dicas h2 {
    color: #fff;
}

#dicas img {
    max-width: 80%;
    width: auto;
    height: auto;
}

#dicas p {
    text-align: justify;
    width: 80%;
}

.fa-mars {
    color: #0984E3;
}

.fa-venus {
    color: #fd79a8;
}


/* footer {
    height: 150px;
    background-color: #0984E3;
    color: #fff;
}

footer nav ul {
    padding: 0;
}

footer nav ul li a {
    color: #fff;
}

footer nav ul li a:hover {
    text-decoration: none;
    color: #ccc;
}

.sociais ul li {
    display: inline-block;
}

.sociais ul li a {
    font-size: 3rem;
    margin-right: 35px;
}

.sociais {
    padding-top: 1.5%;
}

footer nav a {
    color: #fff;
}

footer nav a:hover {
    text-decoration: none;
    color: #ccc;
} */